@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;    
    padding: 10px;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    justify-content: center;
}
.container .card{
    min-width: 250px;
    padding: 20px;
    box-shadow:  0 10px 10px -5px;
}
.addMovies ,input{
    float: right;
}
#saveBtn{
    width: 100%;
}